<body class="vertical-layout vertical-menu-modern 1-column  bg-full-screen-image blank-page" data-open="click"
  data-menu="vertical-menu-modern" data-col="1-column">
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 ">
                <div class="card-header border-0">
                  <div class="card-title text-center" style="background: #2C303B;padding: 6px!important;margin: -21px;">
                    <img src="assets/images/finCleanerlogos/findcleaner-weblogo.png" width="50%" alt="branding logo">
                  </div>
                </div>
                <div class="card-content px-1 py-1 m-0">
                  <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                    <span>Admin Panel </span></p>
                  <div class="card-body">
                    <form class="form-horizontal" action="index.html" novalidate>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control" id="email" placeholder="Your Email" name="email"
                          [(ngModel)]="credentials.email" required>
                        <div class="form-control-position">
                          <i class="ft-mail"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="password" class="form-control" id="user-password" placeholder="Enter Password"
                          name="password" [(ngModel)]="credentials.password" required>
                        <div class="form-control-position">
                          <i class="la la-key"></i>
                        </div>
                      </fieldset>
                      <div class="form-group row">
                        <div class="col-sm-6 col-12 text-center text-sm-left pr-0">

                        </div>
                        <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right"><a
                            href="recover-password.html" class="card-link">Forgot Password?</a>
                        </div>
                      </div>
                      <button type="button" (click)="handleLogin()" class="btn btn-outline-info btn-block"
                        [disabled]="credentials.username === '' || credentials.password === ''"><i
                          class="ft-unlock"></i>
                        Login</button>
                    </form>
                  </div>
                  <!-- <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>Register New
                      Admin User ?</span></p> -->
                  <!-- <div class="card-body">
                    <a routerLink="/register" class="btn btn-outline-danger btn-block"><i class="ft-user"></i>
                      Register</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

</body>
