<nav
  class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
            href="#"><i class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item mr-auto"><a class="navbar-brand" href="#"><img class="brand-logo" alt="Logo"
              src="assets/images/finCleanerlogos/finCleaner-wb.png">
            <h3 class="brand-text">FindCleaner Admin</h3>
          </a></li>

      </ul>
    </div>
    <div class="navbar-container content">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item">
            <a class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
              <span class="mr-1 user-name text-bold-700">{{userDetails?.username}}</span>
              <span class="avatar avatar-online">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="avatar">
                <i></i>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" routerLink="/admin-profile">
                <i class="ft-user"></i> Profile
              </a>
              <a class="dropdown-item" routerLink="/create-admin">
                <i class="ft-users"></i> Add New User
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/settings">
                <i class="ft-settings"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="handlelogout()">
                <i class="ft-power"></i> Logout
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
