<div>
  <!-- BEGIN: Header-->
  <app-header-nav></app-header-nav>
  <!-- END: Header-->


  <!-- BEGIN: Sidebar-->
  <app-sidebar></app-sidebar>
  <!-- END: Sidebar-->


  <!-- BEGIN Body Content -->
  <div class="app-content content" style="margin-bottom: 400px;" *ngIf="!settingsURL; else settingsPage">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
      </div>
      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <ng-template #settingsPage>
    <router-outlet></router-outlet>
  </ng-template>
  <!-- END Body Content -->




  <!-- BEGIN: Footer-->
  <footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
        class="float-md-left d-block d-md-inline-block">Copyright &copy; 2019 <a class="text-bold-800 grey darken-2"
          href="#">KniteIndustries</a></span></p>
  </footer>
  <!-- END: Footer-->

</div>
