<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header"><span data-i18n="nav.category.ecommerce">Navigation</span><i
          class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Ecommerce"></i>
      </li>
      <li class=" nav-item"><a routerLink="/adminDashboard"><i class="la la-home"></i><span class="menu-title"
            data-i18n="">Home</span></a>
      </li>
      <li class=" nav-item"><a routerLink="/usersInsight"><i class="la la-list"></i><span class="menu-title"
            data-i18n="">Users Insight</span></a>
      </li>
      <li class=" nav-item"><a routerLink="/transactionsInsight"><i class="la la-shopping-cart"></i><span
            class="menu-title" data-i18n="">Transactions Insight</span></a>
      </li>
      <li class=" nav-item"><a routerLink=""><i class="la la-credit-card"></i><span class="menu-title"
            data-i18n="">Sessions Management</span></a>
      </li>
      <li class=" nav-item"><a routerLink="/settings"><i class="la la-check-circle-o"></i><span class="menu-title"
            data-i18n="">System-Wide Settings</span></a>
      </li>
    </ul>
  </div>
</div>
