<div class="card" style="max-height: 700px; overflow: auto;">
  <div class="card-header">
    <h4 class="card-title">
      Ratings By Services - <i class="primary">{{dataSourceRatingServices[0]?.user.first_name}}
        {{dataSourceRatingServices[0]?.user.last_name}}
      </i>
    </h4>
  </div>
  <div class="card-content">
    <div class="table-responsive">
      <table id="open-trade" class="table table-hover table-xl  open-orders"
        *ngIf="dataSourceRatingServices.length !== 0; else noItems">
        <thead>
          <tr>
            <th>
              Service Rated
            </th>
            <th>
              Description
            </th>
            <th>
              Ratings
            </th>
            <th>
              Action
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rating of dataSourceRatingServices" style="cursor: pointer;">
            <td class="unit" (click)="handleRatingView(rating.id)">
              {{rating.service_request.service_name | titlecase}}
            </td>
            <td class="no-unit" (click)="handleRatingView(rating.id)">
              {{rating.service_request.requirement_description | titlecase | shorten: 'name'}}
            </td>
            <td class="exp-amt" (click)="handleRatingView(rating.id)">
              <i class="la la-star" *ngFor="let data of rating.ratingArr"></i>
            </td>
            <td class="type">
              <i class="la la-link success font-large-1" style="cursor: pointer;"
                (click)="handleRatingView(rating.id)"></i>
              <i class="la la-trash danger font-large-1" (click)="handleRatingDelete(rating.id)"
                style="cursor: pointer;"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noItems>
        <mat-card class="text-center">No Items Available</mat-card>
      </ng-template>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
