<div class="content-body">
  <div class="shopping-cart">
    <div class="row">

      <div class="col-md-4 order-md-2 mb-4">
        <div class="card">
          <div class="card-header mb-3">
            <div>
              <h4 class="card-title">Similar Transactions By {{filter | titlecase }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                <!-- <ul class="list-inline mb-0">
                  <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                </ul> -->
              </div>
            </div>

            <div class="example-container" style="margin: 1em 0 -2.1em 0">
              <select class="custom-select d-block w-100" name="filter" [(ngModel)]="filter"
                (change)="handleSimilarTransactions()">
                <option value="provider">Provider</option>
                <option value="customer">Customer</option>
              </select>
            </div>

          </div>

          <div class="card-content" style="max-height: 540px !important; overflow: auto;">
            <ul class="list-group mb-3" *ngIf="filterContainer.length > 0; else noItems">
              <li class="list-group-item d-flex justify-content-between lh-condensed"
                *ngFor="let item of filterContainer">
                <div>
                  <h6 class="my-0">{{item.requirement_description | shorten: 'similarTransactions'}}</h6>
                  <small class="text-muted">{{item.service_provider.name}}</small>
                </div>
                <span class="text-muted">{{item.total_amount | currency: '#'}}</span>
              </li>
            </ul>
            <ng-template #noItems>
              <div>
                <h5 class="text-center mt-3 mb-3">No Items Available</h5>
              </div>
            </ng-template>

          </div>
        </div>

      </div>

      <div class="col-md-8 order-md-1">
        <div class="card">



          <div class="card-header">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">TRANSACTION DETAILS</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              </div>
              <div class="col-md-2">
                <button class="btn btn-sm btn-blue-grey" routerLink="/transactionsInsight"
                  style="float: right;">Back</button>
              </div>
            </div>
            <hr>
          </div>

          <div class="card-content">
            <div class="card-body">
              <div id="steady-spinner" *ngIf="(transactionDetails | json) === '{}'; else displayForm"></div>

              <ng-template #displayForm>
                <form class="needs-validation" novalidate="">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="provider">Provider Name</label>
                      <input type="text" class="form-control" id="provider" name="provider"
                        [(ngModel)]="transactionDetails.service_provider.name" disabled>
                      <div class="invalid-feedback">
                        Provider Name is required.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="customer">Customer Name</label>
                      <input type="text" class="form-control" id="customer" name="customer"
                        [(ngModel)]="transactionDetails.customer.name" disabled>
                      <div class="invalid-feedback">
                        Customer Name is required.
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                      [(ngModel)]="transactionDetails.requirement_description" required="">
                    <div class="invalid-feedback" style="width: 100%;">
                      Your Description is required.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="service">Service </label>
                    <input type="text" class="form-control" id="service" name="service"
                      [(ngModel)]="transactionDetails.service.service" disabled>
                    <div class="invalid-feedback">
                      Service Required
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-5 mb-3">
                      <label for="serviceDate">Service Required On:</label>
                      <input type="date" class="form-control" id="serviceDate" name="requiredOn" required=""
                        [(ngModel)]="transactionDetails.service_required_on">
                      <div class="invalid-feedback">
                        Select A Date.
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="startTime">Start Time (24hrs)</label>
                      <input type="time" class="form-control" id="startTime" name="startTime" required=""
                        [(ngModel)]="transactionDetails.expected_start_time">
                      <div class="invalid-feedback">
                        Start time Required.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="hrs">Expected Hrs</label>
                      <input type="number" class="form-control" id="hrs" name="hrs" required=""
                        [(ngModel)]="transactionDetails.expected_hours_to_complete">
                      <div class="invalid-feedback">
                        Hrs Required.
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="deliveryDate">Delivery Date</label>
                      <input type="date" class="form-control" id="deliveryDate" name="deliveryDate" required=""
                        [(ngModel)]="transactionDetails.service_deliver_on">
                      <div class="invalid-feedback">
                        Delivery Date Required.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="status">Status </label>
                      <select class="custom-select d-block w-100" id="status" name="status" required=""
                        [(ngModel)]="transactionDetails.status">
                        <option value="">Choose...</option>
                        <option value="new">New</option>
                        <option value="accepted">Accepted</option>
                        <option value="ongoing">Ongoing</option>
                        <option value="cancel">Cancel</option>
                        <option value="completed">Completed</option>
                      </select>
                      <div class="invalid-feedback">
                        Select Payment Mode
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="amount">Total Amount</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">#</span>
                        </div>
                        <input type="text" class="form-control" id="amount" name="totalAmount" required=""
                          [(ngModel)]="transactionDetails.total_amount">
                        <div class="invalid-feedback" style="width: 100%;">
                          Enter an Amount.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="payment">Payment Mode</label>
                      <select class="custom-select d-block w-100" id="paymentMode" name="payment_mode" required=""
                        [(ngModel)]="transactionDetails.payment_mode">
                        <option value="">Choose...</option>
                        <option value="cash">Cash</option>
                        <option value="card">Card</option>
                        <option value="bank_transfer">Bank Transfer</option>
                      </select>
                      <div class="invalid-feedback">
                        Select Payment Mode
                      </div>
                    </div>
                  </div>

                  <hr class="mb-2">
                  <button class="btn btn-info btn-lg mr-1" type="button" (click)="handleUpdate()">Update</button>
                  <button class="btn btn-danger btn-lg" type="button" (click)="handleDelete()">Delete</button>
                </form>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
