.badgesUpdate {
  background-color: #00BCD4 !important;
  color: #FFFFFF !important;
  font-size: 85% !important;
}


.activeRatedList {
  background-color: #00BCD4;
  color: white;
}

.activeRatedList:hover {
  background-color: #00BCD4;
  color: white;
}
