<div>
  <!-- statistic -->
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="info">40%</h3>
                <h6>Downloads (IOS)</h6>
              </div>
              <div>
                <i class="icon-screen-smartphone info font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="warning">60%</h3>
                <h6>Downloads (Android)</h6>
              </div>
              <div>
                <i class="icon-screen-smartphone warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="danger">146</h3>
                <h6>Total Users</h6>
              </div>
              <div>
                <i class="icon-users danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">9</h3>
                <h6>Active Sessions</h6>
              </div>
              <div>
                <i class="icon-loop success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ statistic -->

  <!-- User Downloads and Sessions -->
  <div class="row match-height">

    <!-- Chart -->
    <div class="col-xl-8 col-12" id="ecommerceChartView">
      <div class="card card-shadow">
        <div class="card-header card-header-transparent py-20">
          <h4 class="card-title">USERS DOWNLOADS </h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="widget-content tab-content bg-white p-20">

          <app-chart [data]="callsInfo.data" [label]="callsInfo.labels" [title]="callsInfo.title"></app-chart>

        </div>
      </div>
    </div>
    <!-- Chart -->

    <!-- Active Sessions -->
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Active Sessions</h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div id="new-orders" class="media-list position-relative">
            <div class="table-responsive">
              <table id="new-orders-table" class="table table-hover table-xl mb-0">
                <thead>
                  <tr>
                    <th class="border-top-0">Product</th>
                    <th class="border-top-0">Customers</th>
                    <th class="border-top-0">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-truncate">iPhone X</td>
                    <td class="text-truncate p-1">
                      <ul class="list-unstyled users-list m-0">
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom"
                          data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-18.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joseph Weaver"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                        </li>
                        <li class="avatar avatar-sm">
                          <span class="badge badge-info">+4 more</span>
                        </li>
                      </ul>
                    </td>
                    <td class="text-truncate">$8999</td>
                  </tr>
                  <tr>
                    <td class="text-truncate">Pixel 2</td>
                    <td class="text-truncate p-1">
                      <ul class="list-unstyled users-list m-0">
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Alice Scott"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-16.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Charles Miller"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-15.png" alt="Avatar">
                        </li>
                      </ul>
                    </td>
                    <td class="text-truncate">$5550</td>
                  </tr>
                  <tr>
                    <td class="text-truncate">OnePlus</td>
                    <td class="text-truncate p-1">
                      <ul class="list-unstyled users-list m-0">
                        <li data-toggle="tooltip" data-popup="tooltip-custom"
                          data-original-title="Christine Ramos" class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-11.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Thomas Brewer"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-10.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Alice Chapman"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-9.png" alt="Avatar">
                        </li>
                        <li class="avatar avatar-sm">
                          <span class="badge badge-info">+3 more</span>
                        </li>
                      </ul>
                    </td>
                    <td class="text-truncate">$9000</td>
                  </tr>
                  <tr>
                    <td class="text-truncate">Galaxy</td>
                    <td class="text-truncate p-1">
                      <ul class="list-unstyled users-list m-0">
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Ryan Schneider"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-14.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Tiffany Oliver"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-13.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joan Reid"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-12.png" alt="Avatar">
                        </li>
                      </ul>
                    </td>
                    <td class="text-truncate">$7500</td>
                  </tr>
                  <tr>
                    <td class="text-truncate">Moto Z2</td>
                    <td class="text-truncate p-1">
                      <ul class="list-unstyled users-list m-0">
                        <li data-toggle="tooltip" data-popup="tooltip-custom"
                          data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-8.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-7.png" alt="Avatar">
                        </li>
                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Rebecca Jones"
                          class="avatar avatar-sm pull-up">
                          <img class="media-object rounded-circle"
                            src="assets/images/portrait/small/avatar-s-6.png" alt="Avatar">
                        </li>
                        <li class="avatar avatar-sm">
                          <span class="badge badge-info">+1 more</span>
                        </li>
                      </ul>
                    </td>
                    <td class="text-truncate">$8500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Sessions -->

  </div>
  <!--/ User Downloads and Sessions -->


  <!-- All Users -->
  <div class="row">
    <div id="recent-transactions" class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">ALL USERS </h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="card-content">
          <mat-form-field style="margin: 0 2em 1em 2em; border-bottom:1px solid; width: 25% !important;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource" matSort id="recent-orders"
              class="table table-hover table-xl mb-0">

              <!-- Index Column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Index </th>
                <td mat-cell *matCellDef="let row" class="text-truncate">
                  {{row.index}}
                </td>
              </ng-container>

              <!-- First Name Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
                <td mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.name}}</span>
                </td>
              </ng-container>

              <!-- Last Name Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
                <td mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.lastName}}</span>
                </td>
              </ng-container>

              <!-- Account Type Column -->
              <ng-container matColumnDef="accountType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
                <td mat-cell *matCellDef="let row" class="text-truncate">
                  <button type="button" class="btn btn-sm btn-outline-danger round">{{row.account_type}}</button>
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.email}}</span>
                </td>
              </ng-container>

              <!-- PhoneNumber Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.phoneNumber}}</span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <mat-paginator [pageSize]="10"></mat-paginator>
            <!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ All Users -->

</div>
