<div>
  <!-- statistic -->
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="info">40%</h3>
                <h6>Downloads (IOS)</h6>
              </div>
              <div>
                <i class="icon-screen-smartphone info font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="warning">60%</h3>
                <h6>Downloads (Android)</h6>
              </div>
              <div>
                <i class="icon-screen-smartphone warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="danger">{{totalUserCount}}</h3>
                <h6>Total Users</h6>
              </div>
              <div>
                <i class="icon-users danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">{{totalSessionsCount}}</h3>
                <h6>Active Sessions</h6>
              </div>
              <div>
                <i class="icon-loop success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ statistic -->

  <!-- User Downloads and Sessions -->
  <div class="row match-height">

    <!-- Chart -->
    <div class="col-xl-8 col-12" id="ecommerceChartView">
      <div class="card card-shadow">
        <div class="card-header card-header-transparent py-20">
          <h4 class="card-title">USERS DOWNLOADS </h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="widget-content tab-content bg-white p-20">

          <app-chart [data]="callsInfo.data" [label]="callsInfo.labels" [title]="callsInfo.title"></app-chart>

        </div>
      </div>
    </div>
    <!-- Chart -->

    <!-- Active Sessions -->
    <div class="col-xl-4 col-lg-12">
      <div class="card" style="max-height: 469px; overflow: auto;">
        <div class="card-header">
          <h4 class="card-title">Active Sessions</h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div id="new-orders" class="media-list position-relative">
            <div class="table-responsive">
              <table id="new-orders-table" class="table table-hover table-xl mb-0">
                <thead>
                  <tr>
                    <th class="border-top-0">Description</th>
                    <!-- <th class="border-top-0">Customers</th> -->
                    <th class="border-top-0">Total</th>
                  </tr>
                </thead>
                <tbody *ngFor="let session of dataSourceSessions;">
                  <tr [routerLink]="['/transactionsInsight/', session.id]" style="cursor: pointer;">
                    <td class="text-truncate">{{session.requirement_description | shorten : 'similarTransactions'}}</td>
                    <!-- <td class="text-truncate">
                      {{session.service_provider.name | shorten}}
                    </td> -->
                    <td class="text-truncate">{{session.total_amount | currency: '# '}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Sessions -->

  </div>
  <!--/ User Downloads and Sessions -->


  <!-- All Users -->
  <div class="row">
    <div id="recent-transactions" class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">ALL USERS </h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="card-content">
          <mat-form-field style="margin: 0 2em 1em 2em; border-bottom:1px solid; width: 25% !important;">
            <input matInput (keyup)="applyFilter($event.target.value)"
              (focus)="hidShowPlaceHolder($event.target.value, 'onFocus')"
              (blur)="hidShowPlaceHolder($event.target.value, 'onBlur')" placeholder="{{myplaceHolder}}">
          </mat-form-field>

          <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSourceUsers" matSort id="recent-orders"
              class="table table-hover table-xl mb-0">

              <!-- Index Column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Index </th>
                <td [routerLink]="['/usersInsight', row.username]" mat-cell *matCellDef="let row; let i = index;"
                  class="text-truncate">
                  {{i + 1}}
                </td>
              </ng-container>

              <!-- First Name Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
                <td [routerLink]="['/usersInsight', row.username]" mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.first_name}}</span>
                </td>
              </ng-container>

              <!-- Last Name Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
                <td [routerLink]="['/usersInsight', row.username]" mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.last_name}}</span>
                </td>
              </ng-container>

              <!-- Account Type Column -->
              <ng-container matColumnDef="accountType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
                <td [routerLink]="['/usersInsight', row.username]" mat-cell *matCellDef="let row" class="text-truncate">
                  <button type="button" [ngClass]="{'btn-outline-primary' : row.account_type === 'customer',
              'btn-outline-danger' : row.account_type === 'provider'}"
                    class="btn btn-sm btn-outline-danger round">{{row.account_type}}</button>
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td [routerLink]="['/usersInsight', row.username]" mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.email}}</span>
                </td>
              </ng-container>

              <!-- PhoneNumber Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td [routerLink]="['/usersInsight', row.username]" mat-cell *matCellDef="let row" class="text-truncate">
                  <span>{{row.phone_number}}</span>
                </td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                <td mat-cell *matCellDef="let element">
                  <i class="la la-link success font-large-1" style="cursor: pointer;"
                    [routerLink]="['/usersInsight', element.username]"></i>
                  <i class="la la-trash danger font-large-1" (click)="handleDelete(element.username)"
                    style="cursor: pointer;"></i>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <mat-paginator [length]="totalUserCount" (page)="pageEvent = handlePagination($event)" [pageSize]="4">
            </mat-paginator>
            <!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ All Users -->

</div>
