<div class="content-body">
  <div class="shopping-cart">
    <div class="row">

      <div class="col align-self-center">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">ADD ADMIN USER</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              </div>
              <div class="col-md-2">
                <button class="btn btn-sm btn-blue-grey" routerLink="/adminDashboard"
                  style="float: right;">Back</button>
              </div>
            </div>
            <hr>
          </div>

          <div class="card-content">
            <div class="card-body">
              <h5><small>(*) are Required Fields</small></h5>
              <form class="form-horizontal" action="index.html" novalidate>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="text" class="form-control" placeholder="Firstname" name="firstname"
                        [(ngModel)]="credentials.first_name">
                      <div class="form-control-position">
                        <i class="ft-user"></i> *
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-6 mb-3">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="text" class="form-control" placeholder="Lastname" name="lastname"
                        [(ngModel)]="credentials.last_name">
                      <div class="form-control-position">
                        <i class="ft-user-plus"></i> *
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-6 mb-3">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="email" class="form-control" id="user-email" placeholder="Your Email Address"
                        name="email" [(ngModel)]="credentials.email" required>
                      <div class="form-control-position">
                        <i class="ft-mail"></i> *
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-6 mb-3">
                    <fieldset class="form-group position-relative has-icon-left">
                      <select name="role" class="form-control" id="user-role" required name="role"
                        [(ngModel)]="credentials.role">
                        <option value="" selected> * Select Role</option>
                        <option value="admin">Admin</option>
                        <option value="manager">Manager</option>
                        <option value="staff">Staff</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-md-6 mb-3">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="text" class="form-control" placeholder="Your Phone Number" name="phone"
                        [(ngModel)]="credentials.phone_number" required>
                      <div class="form-control-position">
                        <i class="ft-phone"></i> *
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-6 mb-3">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control" id="user-password" placeholder="Enter Password"
                        required name="password" [(ngModel)]="credentials.password">
                      <div class="form-control-position">
                        <i class="la la-key"></i> *
                      </div>
                    </fieldset>
                  </div>
                </div>

                <button type="button" class="btn btn-outline-info btn-block" [disabled]="credentials.first_name === '' || credentials.last_name === ''|| credentials.password
                      === '' || credentials.role ===
                      '' || credentials.email === ''" (click)="handleRegister()"><i class="ft-user"></i>
                  Create User</button>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
