<div class="row">
  <div id="recent-transactions" class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h4 class="card-title">ADMIN USER'S INFORMATION</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="col-md-2">
            <button class="btn btn-sm btn-blue-grey" (click)="backToPreviousPage()" style="float: right;">Back</button>
          </div>
        </div>

        <hr><br />

        <div class="row">
          <div class="col-sm-3">
            <div class="text-center">
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                alt="avatar">
              <h6>Upload a different photo...</h6>
              <input type="file" class="text-center center-block file-upload">
            </div>


          </div>
          <div class="col-sm-9">
            <div class="form-actions top">
              <button type="submit" class="btn btn-primary mr-1" (click)="handleUpdate()">
                <i class="la la-check-square-o"></i> Save
              </button>
              <button type="button" class="btn btn-danger" (click)="handleDelete()">
                <i class="la la-trash"></i> Delete
              </button>
            </div>
          </div>

        </div>

        <br>
        <hr><br>

        <form class="form form-horizontal row-separator">
          <div id="steady-spinner" *ngIf="(adminUserDetails | json) === '{}'; else displayForm"></div>
          <ng-template #displayForm>
            <div class="form-body">
              <h4 class="form-section"><i class="la la-eye"></i> About User</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row mx-auto">
                    <label class="col-md-3 label-control" for="userinput1">Fist Name</label>
                    <div class="col-md-9">
                      <input type="text" id="userinput1" class="form-control border-primary" placeholder="First Name"
                        name="firstname" [(ngModel)]="adminUserDetails.user.first_name">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row mx-auto">
                    <label class="col-md-3 label-control" for="userinput2">Last Name</label>
                    <div class="col-md-9">
                      <input type="text" id="userinput2" class="form-control border-primary" placeholder="Last Name"
                        name="lastname" [(ngModel)]="adminUserDetails.user.last_name">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row mx-auto last">
                    <label class="col-md-3 label-control" for="userinput3">Username</label>
                    <div class="col-md-9">
                      <input type="text" id="userinput3" class="form-control border-primary" placeholder="Username"
                        name="username" [(ngModel)]="adminUserDetails.user.username" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row mx-auto last">
                    <label class="col-md-3 label-control" for="userinput4">Role</label>
                    <div class="col-md-9">
                      <!-- <input type="text" id="userinput4" class="form-control border-primary" placeholder="Account Type"
                        name="accountType" > -->
                      <select name="role" class="form-control" id="user-role" required name="role"
                        [(ngModel)]="adminUserDetails.user.user_type">
                        <option value="" selected> * Select Role</option>
                        <option value="admin">Admin</option>
                        <option value="manager">Manager</option>
                        <option value="staff">Staff</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="form-section"><i class="la la-envelope"></i> Contact Info & Bio</h4>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row mx-auto">
                    <label class="col-md-3 label-control" for="userinput5">Email</label>
                    <div class="col-md-9">
                      <input class="form-control border-primary" type="email" placeholder="email" id="userinput5"
                        name="email" [(ngModel)]="adminUserDetails.user.email">
                    </div>
                  </div>
                </div>
                <!-- 
                <div class="col-md-6">
                  <div class="form-group row mx-auto">
                    <label class="col-md-3 label-control">Phone No</label>
                    <div class="col-md-9">
                      <input class="form-control border-primary" type="tel" placeholder="Contact Number" id="userinput7"
                        name="phone" [(ngModel)]="adminUserDetails.user.phone_number">
                    </div>
                  </div>
                </div> -->

                <div class="col-sm-12">
                  <div class="form-actions top">
                    <button type="submit" class="btn btn-primary mr-1" (click)="handleUpdate()">
                      <i class="la la-check-square-o"></i> Save
                    </button>
                    <button type="button" class="btn btn-danger" (click)="handleDelete()">
                      <i class="la la-trash"></i> Delete
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>

        </form>
      </div>
      <div class="card-content">
      </div>
    </div>
  </div>
</div>
