<div class="app-content content" style="margin-bottom: 400px;">
  <div class="content-header row">
    <div class="content-header-dark bg-img col-12">
      <div class="row" id="content-header-banner">
        <div class="content-header-left col-md-9 col-12 mb-2" id="content-header-left">
          <h3 class="content-header-title white" id="title">Settings</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb" id="breadcrumb">
                <li class="breadcrumb-item active"> Edit Settings
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-3 col-12" id="content-header-right">
          <div class="btn-group float-md-right" role="group">
            <button class="btn btn-primary round  box-shadow-2 px-2" id="btnGroupDrop1" type="button"
              routerLink="/adminDashboard">Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">

    <div class="content-body">
      <section id="currency-exchange">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card text-center">
              <div class="card-header mt-3">
                <h1 class="text-bold-500 info">
                  Add New Services
                </h1>
              </div>
              <div class="card-subtitle p-0 mx-2">
                <h5 class="text-bold-500"> Set the Description and Base Amount for New Services</h5>
              </div>


              <div class="card-body mt-2">

                <form class="form-horizontal" action="index.html" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control" placeholder="Service Category" name="category"
                          [(ngModel)]="serviceDetails.service_category">

                      </fieldset>
                    </div>
                    <div class="col-md-6 mb-3">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control" placeholder="Service Description" name="description"
                          [(ngModel)]="serviceDetails.service">

                      </fieldset>
                    </div>
                    <div class="col-md-6 mb-3">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="number" class="form-control" placeholder=" Service Base Price" name="basePrice"
                          [(ngModel)]="serviceDetails.agency_base_price" required>

                      </fieldset>
                    </div>
                    <div class="col-md-6 mb-3">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="number" class="form-control" placeholder="Individual Base Price"
                          name="individualBasePrice" [(ngModel)]="serviceDetails.individual_base_price" required>

                      </fieldset>
                    </div>

                  </div>

                  <button type="button" class="btn btn-outline-info " 
                  [disabled]="serviceDetails.service_category === '' || serviceDetails.individual_base_price === ''||
                    serviceDetails.agency_base_price === '' || serviceDetails.service === ''" (click)="handleServiceCreation()"><i class="ft-settings"></i>
                    Create</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>
